<div class="hero-unit">
<h1>List Recipients</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Email template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_settings.each do |my_setting| %>
      <tr>
        <td><%= my_setting.first_name %></td>
        <td><%= my_setting.last_name %></td>
        <td><%= my_setting.phone_number %></td>
        <td><%= my_setting.email_address %></td>
        <td><%= my_setting.email_template %></td>
        <td><%= link_to 'Show', my_setting %></td>
        <td><%= link_to 'Edit', edit_my_setting_path(my_setting) %></td>
        <td><%= link_to 'Destroy', my_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My setting', new_my_setting_path %>
</div>
