<div class="container" id="forgot">	
	<div class="edit-form forgot">

	<div class="header">
		<h2>Forgot your password?</h2>
	</div>
		
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="text">
	  	<p><%= f.label :email %></p>
	  	<%= f.email_field :email, :autofocus => true %>
	  </div>

	  <div><%= f.submit "Submit" %></div>
	<% end %>
		<div class="devise-forgot">
			<ul>
				<li><%= render "devise/shared/links" %></li>
			</ul>	
		</div>
	</div>
</div>