<<<<<<< HEAD

                <ul id="sddm">
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">contacts list</font></b></a>
                        <div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <% Recipient.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  element.first_name  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">Service name</font></b></a>
                        <div id="m2" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <% Service.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  element.name  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                </ul>
                <ul id="sddm">
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Pick start time</font></b></a>
                        <div id="m3" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <% Alert.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  element.start  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">Pick end time</font></b></a>
                        <div id="m4" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <% Alert.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  element.end  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                </ul>
                <ul id="sddm">
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Pick SMS</font></b></a>
                        <div id="m5" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <% Alert.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  element.sms  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m6')" onmouseout="mclosetime()">Pick email</font></b></a>
                        <div id="m6" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <%e = nil%>
                        <% Alert.all.each do |element|%><tr>
                        <a href="#"><b><font size="5"><%=  e = element.email  %></font></b></a>
                        <% end %>
                        </div>
                    </li>
                    <%= e %>
                </ul>
=======
<div >
<h1>About the Commuter Alarm</h1>
<p>
Lucas ipsum dolor sit amet leia gamorrean luke yavin qui-gonn darth mace hutt bothan organa. Mon zabrak dantooine kessel c-3p0 anakin. Calrissian amidala yavin organa yavin mon skywalker kenobi dantooine. Kessel padmé dooku lando palpatine moff fett chewbacca. Antilles hutt leia moff padmé wicket c-3p0. Droid maul darth skywalker fett. Kessel darth coruscant jabba coruscant hutt dooku. Binks mara mon owen ackbar. Amidala ewok padmé ahsoka hoth. Windu leia vader kessel lando. Han bothan antilles solo mandalorians jango.
</p>

<ul id="sddm">
    <li><b><font size="5" color="black"><a href="#" onmouseover="mopen('m1')" onmouseout="mclosetime()">Service name</font></b></a>
        <div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
        <% Service.all.each do |element|%><tr>
        <a href="#"><b><font size="5"><%=  element.name  %></font></b></a>
        <% end %>
        </div>
    </li>
</ul> 
>>>>>>> demo
