<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @first_name.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @first_name.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @first_name.email_address %>
</p>

<p>
  <strong>Email template:</strong>
  <%= @first_name.email_template %>
</p>

<%= link_to 'Edit', edit_first_name_path(@first_name) %> |
<%= link_to 'Back', first_names_path %>
