
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" type="text/css" />

<div class="edit-form">
  
<!--   <div class="header">
    <h1>New alert</h1>
  </div>   -->

  <%= form_for(@alert) do |f| %>
    <% if @alert.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this recipient from being saved:</h2>


        <ul>
        <% @alert.errors.full_messages.each do |message| %>
          <li><%= alerts %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text">
      <p><%= f.label :start %></p>
       <%= f.time_select :start , {:ampm => true}%>
    </div>

    <div class="text">
      <p><%= f.label :end %></p>
     <%= f.time_select :end, {:ampm => true} %>
    </div>
    
    <div class="text">
      <p><%= f.label :first_name %></p>
      <%= f.collection_select :recipient_id, current_user.recipients, :id, :first_name%>

    </div>

    
    <div class="text">
      <p><%= f.label :email %></p>
      <%= f.text_field :email%>
    </div>

    <div class="text">
      <p><%= f.label :service_name %></p>
      <%= f.collection_select :service_name, Service.all, :name, :name%>
    </div>
    </li>
</ul> 



     <div class="text">
        <p><%= f.submit "Update Alerts", :class => 'btn btn-success teal-color' %></p>
      </div>
    
    <% end %>





    