<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @alert.recipient_id%>
</p>

<p>
  <strong>Start time:</strong>
  <%= @alert.start.strftime('%a %B %e, %l:%M %p') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @alert.end.strftime("%a %B %e, %l:%M %p") %>
</p>

<p>
  <strong>Service name:</strong>
  <%= @alert.service_name %>
</p>
<div class="back-button">
  <p>
    <%= link_to 'Back', root_path %>
  </p>
</div>

