<p id="notice"><%= notice %></p>


<p>
  <strong>start time:</strong>
  <%= @alert.start.strftime('%r') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @alert.start.strftime('%r') %>
</p>

<p>
  <strong>Last sent:</strong>
  <%= @alert.last_sent %>
</p>
<p>
  <strong>Service name:</strong>
  <%= @alert.service_name %>
</p>
<div class="back-button">
  <p><%= link_to 'Back', root_path %></p>
</div>

