<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>created_at:</strong>
  <%= @alert.created_at.in_time_zone%>
</p>
<p>
  <strong>Recipient:</strong>
  <%= @alert.recipient_id%>
</p>

<p>
  <strong>start time:</strong>
  <%= @alert.start.strftime('%r') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @alert.end%>
</p>

<p>
  <strong>Last sent:</strong>
  <%= @alert.last_sent %>
</p>
<p>
  <strong>Service name:</strong>
  <%= @alert.service_name %>
</p>
<div class="back-button">
  <p>
    <%= link_to 'Back', root_path %>
  </p>
</div>
     <div class="back-button"><p>
<%= link_to "send email", go_path(@alert)%>
</p></div>
